/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&mt {
    flavor = "balanced";
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // | ESC/~ |  Q   |  W   |  E   |  R   |  T   |   Y   |  U    |  I   |  O   |   P   | BSPC  |
            // | TAB   |  A   |  S   |  D   |  F   |  G   |   H   |  J    |  K   |  L   |   ;   |  '    |
            // | SHIFT |  Z   |  X   |  C   |  V   |  B   |   N   |  M    |  ,   |  .   |   /   |RET/SFT|
            // | PLAY  | LCTL | LALT | LGUI | LOWR |     SPACE    |  RAIS | LARW | UARW | DARW  |  RARW |

            bindings = <
&kp Q               &kp W           &kp F        &kp P             &kp B         &trans  &trans  &kp J      &kp L              &kp U                &kp Y            &kp SQT
&mt LEFT_COMMAND A  &mt LEFT_ALT R  &mt LCTRL S  &mt LEFT_SHIFT T  &kp G         &trans  &trans  &kp M      &mt RIGHT_SHIFT N  &mt RIGHT_CONTROL E  &mt RIGHT_ALT I  &mt RIGHT_COMMAND O
&kp Z               &kp X           &kp C        &kp D             &kp V         &trans  &trans  &kp K      &kp H              &kp COMMA            &kp PERIOD       &kp SLASH
&trans              &trans          &lt 1 TAB    &lt 2 BACKSPACE   &lt 0 ESCAPE  &trans  &trans  &lt 3 RET  &lt 0 SPACE        &lt 0 DEL            &trans           &trans
            >;
        };

        media {
            bindings = <
&trans            &trans        &kp C_BRI_DEC  &kp C_BRIGHTNESS_INC  &trans  &trans  &trans  &trans      &trans            &trans             &trans           &trans
&kp LEFT_COMMAND  &kp LEFT_ALT  &kp LCTRL      &kp LEFT_SHIFT        &trans  &trans  &trans  &trans      &kp C_PREV        &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp C_NEXT
&trans            &trans        &trans         &trans                &trans  &trans  &trans  &trans      &trans            &trans             &trans           &trans
&trans            &trans        &trans         &trans                &trans  &trans  &trans  &kp C_STOP  &kp K_PLAY_PAUSE  &kp K_MUTE         &trans           &trans
            >;
        };

        nav {
            bindings = <
&trans            &trans        &trans            &trans          &trans  &trans  &trans  &kp N7      &kp N8         &kp N9         &kp N0       &kp BSPC
&kp LEFT_COMMAND  &kp LEFT_ALT  &kp LEFT_CONTROL  &kp LEFT_SHIFT  &trans  &trans  &trans  &kp CAPS    &kp LEFT       &kp DOWN       &kp UP       &kp RIGHT
&trans            &trans        &trans            &trans          &trans  &trans  &trans  &kp INSERT  &kp HOME       &kp PAGE_DOWN  &kp PAGE_UP  &kp END
&trans            &trans        &trans            &trans          &trans  &trans  &trans  &kp ENTER   &kp BACKSPACE  &kp DEL        &trans       &trans
            >;
        };

        mouse {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        sym {
            bindings = <
&kp LEFT_BRACE  &kp AMPERSAND  &kp STAR     &kp LEFT_PARENTHESIS   &kp RIGHT_BRACE  &trans  &trans  &trans  &trans           &trans             &trans         &trans
&kp COLON       &kp DOLLAR     &kp PERCENT  &kp CARET              &kp PLUS         &trans  &trans  &trans  &kp RIGHT_SHIFT  &kp RIGHT_CONTROL  &kp RIGHT_ALT  &kp RIGHT_COMMAND
&kp TILDE       &kp EXCL       &kp AT       &kp HASH               &kp PIPE         &trans  &trans  &trans  &trans           &trans             &trans         &trans
&trans          &trans         &trans       &kp RIGHT_PARENTHESIS  &kp UNDER        &trans  &trans  &trans  &trans           &trans             &trans         &trans
            >;
        };

        num {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        func {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
